In [1]:
import numpy as np
import pandas as pd

In [2]:
tweet = pd.read_csv('./tweet/Tweet.csv')

In [3]:
tweet.head()

,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num
0,550441509175443456,VisualStockRSRC,1420070457,"lx21 made $10,008 on $AAPL -Check it out! htt...",0,0,1
1,550441672312512512,KeralaGuy77,1420070496,Insanity of today weirdo massive selling. $aap...,0,0,0
2,550441732014223360,DozenStocks,1420070510,S&P100 #Stocks Performance $HD $LOW $SBUX $TGT...,0,0,0
3,550442977802207232,ShowDreamCar,1420070807,$GM $TSLA: Volkswagen Pushes 2014 Record Recal...,0,0,1
4,550443807834402816,i_Know_First,1420071005,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1

In [4]:
company = pd.read_csv('./tweet/Company_Tweet.csv')

In [5]:
company.head()

             tweet_id ticker_symbol
0  550803612197457920          AAPL
1  550803610825928706          AAPL
2  550803225113157632          AAPL
3  550802957370159104          AAPL
4  550802855129382912          AAPL

In [6]:
# merge the tweet dataset and company dataset via tweet_id
tweet_company = pd.merge(tweet, company, on = "tweet_id", how = "inner")
tweet_company.head()

,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num,ticker_symbol
0,550441509175443456,VisualStockRSRC,1420070457,"lx21 made $10,008 on $AAPL -Check it out! htt...",0,0,1,AAPL
1,550441672312512512,KeralaGuy77,1420070496,Insanity of today weirdo massive selling. $aap...,0,0,0,AAPL
2,550441732014223360,DozenStocks,1420070510,S&P100 #Stocks Performance $HD $LOW $SBUX $TGT...,0,0,0,AMZN
3,550442977802207232,ShowDreamCar,1420070807,$GM $TSLA: Volkswagen Pushes 2014 Record Recal...,0,0,1,TSLA
4,550443807834402816,i_Know_First,1420071005,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1,AAPL

In [7]:
# filter dataset via apple
tweet_cy = tweet_company[tweet_company['ticker_symbol'] == 'AAPL']
tweet_cy.head()

,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num,ticker_symbol
0,550441509175443456,VisualStockRSRC,1420070457,"lx21 made $10,008 on $AAPL -Check it out! htt...",0,0,1,AAPL
1,550441672312512512,KeralaGuy77,1420070496,Insanity of today weirdo massive selling. $aap...,0,0,0,AAPL
4,550443807834402816,i_Know_First,1420071005,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1,AAPL
6,550443808606126081,aaplstocknews,1420071005,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1,AAPL
8,550443809700851716,iknowfirst,1420071005,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1,AAPL

In [8]:
# check the body of tweets
body = tweet_cy["body"]
body

0          lx21 made $10,008  on $AAPL -Check it out! htt...
1          Insanity of today weirdo massive selling. $aap...
4          Swing Trading: Up To 8.91% Return In 14 Days h...
6          Swing Trading: Up To 8.91% Return In 14 Days h...
8          Swing Trading: Up To 8.91% Return In 14 Days h...
                                 ...
4336437    Imagine calling your broker-dealer and wanting...
4336438    $AAPL yearly~ Heck of a year.. Jan. 2, 1999~ar...
4336439    That $SPY $SPX puuump in the last hour was the...
4336442    I don't discriminate. I own both $aapl and $ms...
4336444    $AAPL #patent 10,522,475 Vertical interconnect...
Name: body, Length: 1425013, dtype: object

In [9]:
import re

In [10]:
# remove usernames
body = body.apply(lambda x: re.sub(r'@[^ ]+', '', x))
body

0          lx21 made $10,008  on $AAPL -Check it out! htt...
1          Insanity of today weirdo massive selling. $aap...
4          Swing Trading: Up To 8.91% Return In 14 Days h...
6          Swing Trading: Up To 8.91% Return In 14 Days h...
8          Swing Trading: Up To 8.91% Return In 14 Days h...
                                 ...
4336437    Imagine calling your broker-dealer and wanting...
4336438    $AAPL yearly~ Heck of a year.. Jan. 2, 1999~ar...
4336439    That $SPY $SPX puuump in the last hour was the...
4336442    I don't discriminate. I own both $aapl and $ms...
4336444    $AAPL #patent 10,522,475 Vertical interconnect...
Name: body, Length: 1425013, dtype: object

In [11]:
# remove URLs
body = body.apply(lambda x: re.sub(r'https?://\S+|www\.\S+', '', x))
body

0          lx21 made $10,008  on $AAPL -Check it out!  Le...
1          Insanity of today weirdo massive selling. $aap...
4          Swing Trading: Up To 8.91% Return In 14 Days  ...
6          Swing Trading: Up To 8.91% Return In 14 Days  ...
8          Swing Trading: Up To 8.91% Return In 14 Days  ...
                                 ...
4336437    Imagine calling your broker-dealer and wanting...
4336438    $AAPL yearly~ Heck of a year.. Jan. 2, 1999~ar...
4336439    That $SPY $SPX puuump in the last hour was the...
4336442    I don't discriminate. I own both $aapl and $ms...
4336444    $AAPL #patent 10,522,475 Vertical interconnect...
Name: body, Length: 1425013, dtype: object

In [12]:
# remove hashtags
body = body.apply(lambda x: re.sub(r'#', '', x))
body

0          lx21 made $10,008  on $AAPL -Check it out!  Le...
1          Insanity of today weirdo massive selling. $aap...
4          Swing Trading: Up To 8.91% Return In 14 Days  ...
6          Swing Trading: Up To 8.91% Return In 14 Days  ...
8          Swing Trading: Up To 8.91% Return In 14 Days  ...
                                 ...
4336437    Imagine calling your broker-dealer and wanting...
4336438    $AAPL yearly~ Heck of a year.. Jan. 2, 1999~ar...
4336439    That $SPY $SPX puuump in the last hour was the...
4336442    I don't discriminate. I own both $aapl and $ms...
4336444    $AAPL patent 10,522,475 Vertical interconnects...
Name: body, Length: 1425013, dtype: object

In [13]:
# remove punctations
body = body.apply(lambda x: re.sub(r'[^\w\s]', '', x))
body

0          lx21 made 10008  on AAPL Check it out  Learn h...
1          Insanity of today weirdo massive selling aapl ...
4          Swing Trading Up To 891 Return In 14 Days  swi...
6          Swing Trading Up To 891 Return In 14 Days  swi...
8          Swing Trading Up To 891 Return In 14 Days  swi...
                                 ...
4336437    Imagine calling your brokerdealer and wanting ...
4336438    AAPL yearly Heck of a year Jan 2 1999around 2 ...
4336439    That SPY SPX puuump in the last hour was the E...
4336442        I dont discriminate I own both aapl and msft
4336444    AAPL patent 10522475 Vertical interconnects fo...
Name: body, Length: 1425013, dtype: object

In [14]:
body = body.apply(lambda x: x.lower())
body

0          lx21 made 10008  on aapl check it out  learn h...
1          insanity of today weirdo massive selling aapl ...
4          swing trading up to 891 return in 14 days  swi...
6          swing trading up to 891 return in 14 days  swi...
8          swing trading up to 891 return in 14 days  swi...
                                 ...
4336437    imagine calling your brokerdealer and wanting ...
4336438    aapl yearly heck of a year jan 2 1999around 2 ...
4336439    that spy spx puuump in the last hour was the e...
4336442        i dont discriminate i own both aapl and msft
4336444    aapl patent 10522475 vertical interconnects fo...
Name: body, Length: 1425013, dtype: object

In [28]:
# tokenization, remove stopwords and lemmatizing
import nltk
from nltk import pos_tag, word_tokenize
from nltk.corpus import stopwords, wordnet
from nltk.stem import WordNetLemmatizer

nltk.download('stopwords')
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')

stop_words = stopwords.words('english')

def get_word_tag(tree_tag):
    if tree_tag.startswith('J'):
        return wordnet.ADJ
    elif tree_tag.startswith('V'):
        return wordnet.VERB
    elif tree_tag.startswith('N'):
        return wordnet.NOUN
    elif tree_tag.startswith('R'):
        return wordnet.ADV
    else:
        return None

lm = WordNetLemmatizer()
def remove_stopwords(content):
    words = word_tokenize(content)
    tags = pos_tag(words)
    word_tag = map(lambda x: (x[0], get_word_tag(x[1])), tags)
    lemm = []
    for token, tag in word_tag:
        if tag is None:
            lemm.append(lm.lemmatize(token))
        else:
            lemm.append(lm.lemmatize(token, tag))
    lemm = [w for w in lemm if w.isalpha()]
    lemm = [w for w in lemm if not w in stop_words]
    
    return ' '.join(lemm)
body = body.apply(remove_stopwords)
body

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/tangjiaye/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /Users/tangjiaye/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /Users/tangjiaye/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

0          make aapl check learn howtotrade exe watt imrs...
1          insanity today weirdo massive selling aapl bid...
4          swing trade return day swingtrading forecast t...
6          swing trade return day swingtrading forecast t...
8          swing trade return day swingtrading forecast t...
                                 ...
4336437    imagine call brokerdealer wanting buy good chu...
4336438    aapl yearly heck year jan buck lolhave friend ...
4336439    spy spx puuump last hour eoy eoq eom top windo...
4336442                          dont discriminate aapl msft
4336444    aapl patent vertical interconnects self shield...
Name: body, Length: 1425013, dtype: object

In [29]:
tweet_cy_new = tweet_cy.copy()
tweet_cy_new['body'] = body
tweet_cy_new['body'].to_csv("output.csv")